.page {
    border: 10rem solid transparent;
    border-image: url("../images/page_border.png") 20% round;
}

.page-single {
    column-count: 1;
}

.page-double {
    column-count: 2;
    display: flex;

    .page {
        @extend .page;
        width: 50%;
    }
}

.page-nav {
    background: rgba(255, 255, 255, 1);
    position: sticky;
    display: flex;
    top: 0;
    padding: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    .page-nav-link {
        display: flex;
        margin-right: auto;
    }

    .page-nav-form {
        display: flex;
        margin-left: auto;
    }
}

.page-content {
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    padding: 0.3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}